.bg-base {
    background-color: #FAC436 !important;
}


.text-base {
    font-style: public-sans;
}

@media (min-width: 1024px) {
    .bg-card {
        background-color: #FCF4E7 !important;
        border: 3px solid #000000 !important;
        box-shadow: 5px 5px 0px #000000 !important;
        display: inline-block;
        font-style: public-sans;
    }
}

.bg-card {
    background-color: #FCF4E7 !important;
    border: 3px solid #000000 !important;
    box-shadow: 5px 5px 0px #000000 !important;
    display: inline-block;
    font-style: public-sans;
}

.bg-cardHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FCF4E7 !important;
    border: 3px solid #000000 !important;
    font-style: public-sans;
}

.bg-inputFields {
    background-color: #FFF !important;
    font-style: public-sans;
    height: 35px;
}

.bg-inputFieldsWrapped {
    background-color: #FFF !important;
    font-style: public-sans;
    height: 35px;
    width: 100%;
}

.bg-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #FCF4E7 !important;
    border: 3px solid #000000 !important;
    font-style: public-sans;
    box-shadow: 5px 5px 0px #000000 !important;
    font-style: public-sans;
    width: clamp(200px, 50%, 200px);
}

.bg-buttonDanger {
    background-color: #FF9780 !important;
    border: 3px solid #000000 !important;
    font-style: public-sans;
    box-shadow: 5px 5px 0px #000000 !important;
    font-style: public-sans;
}